/*
Theme Name: Construction Landing Page Child
Theme URI: http://raratheme.com/wordpress-themes/construction-landing-page/
Template: construction-landing-page
Author: Rara Theme
Author URI: http://raratheme.com/
Description: Construction Landing Page is a multipurpose, mobile friendly WordPress Theme for business, freelancers and private use. The Theme has a professional design and great features to suit a Construction Business. Although designed with Construction Industry in mind, the theme is very flexible and versatile to be used by various types of freelancers, corporations, institutions and businesses. Construction Landing Page comes with several features to make user-friendly, interactive and visually stunning website. Such features include custom menu with Call to Action Button, attractive banner with contact form, Services section, Portfolio section, Client Section, testimonial section, Banner with Call to Action Button (CTA), and social media. The theme is SEO friendly with optimized codes, which make it easy for your site to rank on Google and other search engines. The theme is rigorously tested and optimized for speed and faster page load time and has a secure and clean code. The theme is also translation ready. Designed with visitor engagement in mind, Construction Landing Page helps you to easily and intuitively create professional and appealing websites. Check the demo at http://raratheme.com/preview/construction-landing-page/, documentation at http://raratheme.com/documentation/construction-landing-page/, and get support at http://raratheme.com/support-ticket/.
Tags: blog,two-columns,right-sidebar,footer-widgets,custom-background,custom-menu,custom-logo,featured-images,threaded-comments,translation-ready,full-width-template,theme-options,portfolio,e-commerce
Version: 1.0.7.1491933674
Updated: 2017-04-11 18:01:14

*/

/*.site-header {
    background: #E67200
}*/

.site-header.myfixed {
    background: #E67200 !important;
}

.main-navigation li {
    margin-left: 20px;
}

/* HOMEPAGE */
.banner {
/*    padding-top: 150px;
    padding-bottom: 60px;
    margin-top: 96px;
    background-position: left !important;*/
}

.banner .col {
    width: 60%;
}

.promotional-block:before, .our-services:before, .banner:before {
    content: none;
}

/*.banner form, .promotional-block2 form {
    background-color: #666;
}*/

/*.banner form {
    margin-left: 115px;
}*/

.banner form input[type="text"], 
.banner form input[type="email"] {
    padding-top: 4px;
    padding-bottom: 4px;
}

.banner form input[type="submit"] {
    height: 50px;
    line-height: 50px;
}

/*.banner form p {
    margin-bottom: 11px;
}*/

.banner form p:last-of-type {
    margin-bottom: 0;
}

.about {
    background: #fff;
}

.promotional-block {
    padding: 150px 0 !important;
}

.btn-all-projects {
    font-size: 24px;
    line-height: 72px;
    height: 72px;
    background: #f3880a;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 66px;
}

.btn-all-projects:hover {
    text-decoration: none;
    background: #e57f00;
    color: #fff;

}

.page-template-page-portofolio #content {
    padding-top: 0;
}

.our-projects .col .text-holder {
    background: rgba(0, 0, 0, 0.5)
}

input[type="tel"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="date"], textarea {
    font-size: 18px;
    line-height: 28px;
    background: #f5f5f5;
    border: 0;
    border-radius: 0;
    color: #999;
    width: 100%;
    padding: 10px 15px;
    outline: none;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 10px 20px;
}

#primary {
    width: 100%;
}


/* FOOTER */

.widget.widget_text .textwidget {
    padding-left: 0;
}

.site-footer .site-info .copyright {
    float: none;
    text-align: center;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1366px) {
    .promotional-block {
        background-position: bottom !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
    .site-header .site-branding {
        float: none;
    }
    
    .site-header .site-branding .text-logo {
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .main-navigation {
        float: none;
        margin-right: 0;
    }
    
    .main-navigation ul {
        text-align: center;
    }
    
    .main-navigation li {
        float: none;
        display: inline-block;
    }
    
    .site-header .tel-link {
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .site-header .site-branding {
        text-align: left !important;
    }
    
    .logo-sablare {
        max-width: 200px;
    }
}

@media only screen and (max-width: 480px) {    
    .logo-sablare {
        max-width: 110px;
    }
    
    .site-header .site-branding .site-description {
        font-size: 12px;
    }
}